redirect 301 /index.html http://www.larutadelsabor.mx/index.html
redirect permanent /index.html http://www.larutadelsabor.mx/index.html
redirectpermanent /index.html http://www.larutadelsabor.mx/index.html
